@CHARSET "UTF-8";
.errorDiv {
	background-color: #FFEEEE;
	border: 1px solid RED;
	padding: 10px;
	margin: 14px;
	width: 300px;
}

.errorField {
	color: #ff0000;
	font-weight: bold;
}

.msgResult {
	color: #369BD8;
	font-weight: bold;
}