<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Payment</title>
</head>
<body>
<div th:replace="~{includes/header :: header(pageTitle='Form Payment')}"></div>
<form id="formPayment" th:action="@{/modules/finance/payments/formPayment}" method="post" th:object="${paymentSearchCriteria}">
    <p>Pago</p>
    <p class="msgResult" th:text="${msgResult}"></p>
    <div th:if="${#fields.hasErrors('*')}">
        <div th:errors="*" class="errorDiv"></div>
    </div>
    <div>
        <input th:field="*{amount}" placeholder="Amount" />
        <div th:errors="*{amount}" class="errorField"></div>
    </div>
    <div>
        <input th:field="*{promoCode}" placeholder="Promo Code" />
        <div th:errors="*{promoCode}" class="errorField"></div>
    </div>
    <input type="submit" value="Submit" />
</form>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const input = document.querySelector('form#formPayment input[name="amount"]');
    moveCursorToEnd(input);
});
function moveCursorToEnd(input){
    const originalValue = input.value;
    input.value = '';
    input.blur();
    input.focus();
    input.value = originalValue;
}
</script>
<div th:replace="~{includes/footer :: footer}"></div>
</body>
</html>
