<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_adminSpringMVC?useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">abc123</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- 
        	Select our SQL dialect
        	http://www.tutorialspoint.com/hibernate/hibernate_configuration.htm 
        -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mostrar en consola las operaciones de SQL -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Usar mapping en base a XML. -->
		<mapping resource="com/fd/mvc/admin/model/internet/entity/InternetEmailAccounts.hbm.xml"/>
		
		<!-- Usar mapping en base a anotaciones. -->
		<mapping class="com.fd.admin.model.internet.entity.InternetPages"/>
		<mapping class="com.fd.mvc.admin.model.entity.Person"/>
		<mapping class="com.fd.mvc.admin.model.entity.Prestamo"/>
		<mapping class="com.fd.mvc.admin.model.entity.Tarea"/>
		<mapping class="com.fd.mvc.adminhome.model.gastos.entity.GastoEntity"/>
		<mapping class="com.fd.mvc.admin.model.GeocoderRequest"/>
		
<!-- http://www.journaldev.com/2924/hibernate-one-to-many-mapping-annotation -->
<!--		<mapping class="com.fd.admin.model.entity.PersonListDetailsEntity"/> -->
<!--         <mapping class="com.journaldev.hibernate.model.Items1"/> -->

    </session-factory>

</hibernate-configuration>
