<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Status</title>
</head>
<body>
<div th:replace="~{includes/header :: header(pageTitle='Upload Status')}"></div>
<div>
    <h1>Upload Status</h1>
    <h2>Message : <span th:text="${message}"></span></h2>
    <table class="table-auto border-collapse border border-gray-300 striped" th:if="${files}">
        <thead>
        <tr>
            <th>File name</th>
            <th>Size (KB)</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${file.fileName}"></td>
            <td th:text="${#numbers.formatDecimal(file.fileSize / 1024.0, 1, 1)}"></td>
            <td th:text="${file.location}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{includes/footer :: footer}"></div>
</body>
</html>
