<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bitso</title>
</head>
<body>
<div th:replace="~{includes/header :: header(pageTitle='Bitso')}"></div>
<div class="ui image label">
    <img th:src="@{/resources/images/criptoCurrency/ethereum.png}">
    <span th:text="${balanceTotalETH}"></span>
</div>
<div class="ui image label">
    <img th:src="@{/resources/images/criptoCurrency/ripple.png}">
    <span th:text="${balanceTotalXRP}"></span>
</div>
<div class="ui image label">
    <img th:src="@{/resources/images/criptoCurrency/bitcoin.png}">
    <span th:text="${balanceTotalBTC}"></span>
</div>
<div class="ui image label">
    <img th:src="@{/resources/images/criptoCurrency/mxn.jpg}">
    <span th:text="${balanceTotalMXN}"></span>
</div>
<div class="ui image label">
    Comisión TOTAL al finalizar los trade: &nbsp;&nbsp; <b th:text="${comisionTOTAL_MXN}"></b>
</div>
<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Inversión Inicial &nbsp;
        <span class="ui teal tag label" th:text="${inversionInicialTotalMXN}"></span>
    </a>
    <a class="item" data-tab="second">Ganancia &nbsp;
        <span class="ui teal  tag label" th:text="${gananciaTotalMXN_MXN}"></span>
    </a>
    <a class="item" data-tab="third">Balance Total &nbsp;
        <span class="ui teal tag label" th:text="${balanceTotal_MXN}"></span>
    </a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
    <table class="ui sortable celled table">
        <tr>
            <th>ETH</th>
            <th>XRP</th>
            <th>BTC</th>
            <th>MXN</th>
        </tr>
        <tr>
            <td class="warning" style="text-align: right;" th:text="${inversionInicialETH}"></td>
            <td class="warning" style="text-align: right;" th:text="${inversionInicialXRP}"></td>
            <td class="warning" style="text-align: right;" th:text="${inversionInicialBTC}"></td>
            <td class="warning" style="text-align: right;" th:text="${inversionInicialMXN}"></td>
        </tr>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    <table class="ui sortable celled table">
        <tr>
            <th>ETH</th>
            <th>XRP</th>
            <th>BTC</th>
            <th>MXN</th>
        </tr>
        <tr>
            <td class="positive" style="text-align: right;" th:text="${gananciaTotal_ETH}"></td>
            <td class="negative" style="text-align: right;" th:text="${gananciaTotal_XRP}"></td>
            <td class="positive" style="text-align: right;" th:text="${gananciaTotal_BTC}"></td>
            <td class="positive" style="text-align: right;" th:text="${gananciaTotal_MXN}"></td>
        </tr>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    <table class="ui sortable celled table">
        <tr>
            <th>ETH</th>
            <th>XRP</th>
            <th>BTC</th>
            <th>MXN</th>
        </tr>
        <tr>
            <td class="positive" style="text-align: right;" th:text="${balanceTotalETH_MXN}"></td>
            <td class="negative" style="text-align: right;" th:text="${balanceTotalXRP_MXN}"></td>
            <td class="positive" style="text-align: right;" th:text="${balanceTotalBTC_MXN}"></td>
            <td class="positive" style="text-align: right;" th:text="${balanceTotalMXN_MXN}"></td>
        </tr>
    </table>
</div>
<script th:inline="javascript">
$(document).ready(function() {
    $('#example').DataTable({
        data: /*[[${bitsoPayloadList}]]*/ [],
        order: [ [ 1, "desc" ] ],
        columns: [
            { data: "book" },
            { data: "ask", render: $.fn.dataTable.render.number(',', '.', 2, '$ ') },
            { data: "bid", render: $.fn.dataTable.render.number(',', '.', 2, '$ ') },
            { data: "high", render: $.fn.dataTable.render.number(',', '.', 2, '$ ') },
            { data: "low", render: $.fn.dataTable.render.number(',', '.', 2, '$ ') }
        ],
        fnRowCallback: function( nRow, aData) {
            if (aData.book && aData.book.includes('mxn')){
                $('td',nRow).css('background-color', '#7BC0F3');
            }
        }
    }).columns.adjust();
    $('.menu .item').tab();
});
</script>
<div th:replace="~{includes/footer :: footer}"></div>
</body>
</html>
