<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bitso Order Book</title>
</head>
<body>
<div th:replace="~{includes/header :: header(pageTitle='Bitso Order Book')}"></div>
<table id="orderBookResultCompra" class="ui celled table sortable">
    <thead>
        <tr>
            <th>BOOK</th>
            <th>Precio de compra</th>
            <th>Monto a comprar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<table id="orderBookResultVenta" class="ui celled table sortable">
    <thead>
        <tr>
            <th>BOOK</th>
            <th>Precio de Venta</th>
            <th>Monto a comprar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', () => {
    const compraData = /*[[${orderBookResultCompra}]]*/ [];
    const ventaData = /*[[${orderBookResultVenta}]]*/ [];

    const fillTable = (tableId, data, orderDesc) => {
        const tbody = document.querySelector(`#${tableId} tbody`);
        data.sort((a,b) => orderDesc ? b.price - a.price : a.price - b.price);
        data.forEach(row => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${row.book}</td>
                <td>${row.price.toLocaleString('en-US', {minimumFractionDigits:2, maximumFractionDigits:2, style:'currency', currency:'USD'})}</td>
                <td>${row.amount.toLocaleString('en-US', {minimumFractionDigits:10})}</td>`;
            if (row.amount > 5.0){
                tr.style.backgroundColor = '#7BC0F3';
            }
            tbody.appendChild(tr);
        });
    };

    fillTable('orderBookResultCompra', compraData, true);
    fillTable('orderBookResultVenta', ventaData, false);
});
</script>
<div th:replace="~{includes/footer :: footer}"></div>
</body>
</html>
