<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twilio SMS</title>
</head>
<body>
<div th:replace="includes/header :: header"></div>
<div class="ui form">
    <form id="formTwilio" th:action="@{/twilio/viewTiwilioSMS}" method="post" th:object="${twilioSMSSearchCriteria}">
        <div class="ten wide field">
            <p class="msgResult" th:text="${msgResult}"></p>
            <div th:if="${#fields.hasErrors('*')}">
                <div th:errors="*" class="errorDiv"></div>
            </div>
            <div class="field">
                <label for="phoneNumberTo">Phone Number To</label>
                <div class="ui labeled input">
                    <div title="For now, only Mexico" class="ui label">+521</div>
                    <input th:field="*{phoneNumberTo}" />
                </div>
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea th:field="*{body}" rows="5" cols="30" placeholder="Message"></textarea>
            </div>
            <input class="ui basic blue button" type="submit" value="Submit" />
        </div>
    </form>
</div>
<script>
var formTwilioPhoneNumberTo = $('form#formTwilio input[name="phoneNumberTo"]');
var formTwilioBody = $('form#formTwilio textarea[name="body"]');
$(function(){
    formTwilioPhoneNumberTo.mask('(000) 000-0000', {
        'translation': {0: {pattern: /[0-9*]/}}
    });
    moveCursorToEnd(formTwilioPhoneNumberTo);
});
formTwilioPhoneNumberTo.keyup(function(){
    var phoneNumberToLenth = formTwilioPhoneNumberTo.cleanVal().length;
    if(phoneNumberToLenth == 10){
        formTwilioBody.focus();
    }
});
</script>
<div th:replace="includes/footer :: footer"></div>
</body>
</html>
