<div th:fragment="header(pageTitle)">
    <script src="https://cdn.tailwindcss.com"></script>

    <link th:href="@{/resources/css/my-test.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/resources/js/simple-test.js}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" defer></script>

    <div th:replace="~{includes/navigatorHeader :: navigatorHeader(pageTitle=${pageTitle})}"></div>
</div>
