<div th:fragment="navigatorHeader(pageTitle)">
    <nav class="bg-gray-200 p-2">
        <ul class="flex space-x-4">
            <li>
                <a th:href="@{/}" class="item font-bold"><i class="home icon"></i> Home</a>
            </li>
            <li th:each="entry : ${navigationMenu}" class="relative group">
                <span class="cursor-pointer" th:text="${entry.key}"></span>
                <ul class="absolute hidden group-hover:block bg-white border mt-1 p-2">
                    <li th:each="item : ${entry.value}">
                        <a class="block px-4 py-1 hover:bg-gray-100" th:href="@{${item.path}}" th:text="${item.label}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="flex space-x-2 text-gray-600 my-2">
        <div class="item">
            <a th:href="@{/}">Home</a>&nbsp;>&nbsp;<a id="btitle" th:text="${pageTitle}" href="#"></a>
        </div>
    </div>
</div>
