<div class="mainMenu" th:fragment="navigatorHeader">
    <div class="ui menu">
        <a th:href="@{/}" class="item"><i class="home icon"></i> Home </a>
        <a class="browse item">Browse <i class="dropdown icon"></i></a>
        <div class="ui fluid popup bottom left transition hidden" style="top: 554px; left: 1px; bottom: auto; right: auto; width: 670px;">
            <div class="ui four column relaxed divided grid">
                <div class="column">
                    <h4 class="ui header">Utils</h4>
                    <div class="ui link list">
                        <a th:href="@{/twilio/viewTiwilioSMS}" class="item">Twilio</a>
                        <a class="item">...</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Exercises</h4>
                    <div class="ui link list">
                        <a th:href="@{/exercises/viewPalindrome}" class="item">Palindromo</a>
                        <a th:href="@{/exercises/viewSerializable}" class="item">Serialize</a>
                        <a th:href="@{/googleMaps/placeAutocompleteAddressForm}" class="item">Google Map API</a>
                        <a th:href="@{/reports/viewJasperReport}" class="item">Jasper Reports</a>
                        <a th:href="@{/exercises/viewJQuery3}" class="item">JQuery3</a>
                        <a class="item">...</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Bitso</h4>
                    <div class="ui link list">
                        <a th:href="@{/bitso/viewBitso}" class="item">Bitso</a>
                        <a th:href="@{/bitso/viewBitsoOrderBook}" class="item">Bitso Order Book</a>
                        <a class="item">...</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Testing API</h4>
                    <div class="ui link list">
                        <a th:href="@{/api/viewMapBox}" class="item">View MapBox</a>
                        <a class="item">...</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="item"><i class="cart icon"></i> Checkout </a>
        <a class="right item"><i class="sign in icon"></i> Sign in </a>
    </div>
</div>
<div class="ui secondary menu">
    <div class="item">
        <a th:href="@{/}">Home</a>&nbsp;>&nbsp;<a id="btitle" href="#"></a>
    </div>
</div>
<script>
    $('.mainMenu .menu .browse').popup({
        inline: true,
        hoverable: true,
        position: 'bottom left',
        delay: {
            show: 300,
            hide: 800
        }
    });
</script>
