<div class="mainMenu" th:fragment="navigatorHeader(pageTitle)">
    <div class="ui menu">
        <a th:href="@{/}" class="item"><i class="home icon"></i> Home </a>
        <a class="browse item">Browse <i class="dropdown icon"></i></a>
        <div class="ui fluid popup bottom left transition hidden">
            <div class="ui four column relaxed divided grid">
                <div class="column" th:each="entry : ${navigationMenu}">
                    <h4 class="ui header" th:text="${entry.key}"></h4>
                    <div class="ui link list">
                        <a class="item" th:each="item : ${entry.value}" th:href="@{${item.path}}" th:text="${item.label}"></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="item"><i class="cart icon"></i> Checkout </a>
        <a class="right item"><i class="sign in icon"></i> Sign in </a>
    </div>
</div>
<div class="ui secondary menu">
    <div class="item">
        <a th:href="@{/}">Home</a>&nbsp;>&nbsp;<a id="btitle" th:text="${pageTitle}" href="#"></a>
    </div>
</div>
<script>
    $('.mainMenu .menu .browse').popup({
        inline: true,
        hoverable: true,
        position: 'bottom left',
        delay: {
            show: 300,
            hide: 800
        }
    });
</script>
