<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serializable Example</title>
</head>
<body>
<div th:replace="~{includes/header :: header(pageTitle='Serializable Example')}"></div>
<div class="space-y-4">
    <form th:action="@{/exercises/viewSerializable}" method="post" th:object="${serializableGeneralSearchCriteria}">
        <div class="w-full space-y-4">
            <div th:if="${#fields.hasErrors('*')}">
                <div th:errors="*" class="errorDiv"></div>
            </div>
            <div>
                <label for="search">Search</label>
                <input type="text" id="search" th:field="*{search}" placeholder="Search" />
            </div>
            <input class="px-4 py-2 bg-blue-500 text-white rounded" type="submit" value="Submit" />
        </div>
    </form>
</div>
<div th:replace="~{includes/footer :: footer}"></div>
</body>
</html>
